body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11756 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:78px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11757 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:162px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:124px;
  word-wrap:break-word;
}
#u11758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11758 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:157px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:124px;
  word-wrap:break-word;
}
#u11759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11759 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:242px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11760 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:14px;
  width:165px;
  height:29px;
}
#u11760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u11761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11761 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:404px;
  width:165px;
  height:29px;
}
#u11761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u11762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11762 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:441px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11763 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:529px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11764 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:512px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11765 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:441px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11766 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:509px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11767 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:577px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11768 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:645px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11769 {
  border-width:0px;
  position:absolute;
  left:1396px;
  top:717px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11770 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:441px;
  width:279px;
  height:58px;
  opacity:0.5;
}
#u11770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:275px;
  word-wrap:break-word;
}
#u11771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11771 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:509px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11772 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:577px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11773 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:645px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11774 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:509px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11775 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:577px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11776 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:645px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11777 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:441px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11778 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:583px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11779 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:441px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11780 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:512px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11781 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:583px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11782 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:651px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11783 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:719px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11784 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:713px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11785 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:78px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11786 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:78px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11787 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:163px;
  width:128px;
  height:58px;
}
#u11787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11788 {
  border-width:0px;
  position:absolute;
  left:1740px;
  top:713px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11789 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:651px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11790 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:243px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11791 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:78px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11792 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:243px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11793 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:324px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11794 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:324px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11795 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:441px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11796 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:512px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11797 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:570px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u11798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11798 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:627px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u11799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11799 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:684px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u11800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11800 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:441px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u11800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u11801 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:512px;
  width:128px;
  height:58px;
  opacity:0.5;
  font-size:11px;
  color:#000000;
}
#u11801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:124px;
  word-wrap:break-word;
}
#u11802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11802 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:570px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u11803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11803 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:627px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u11804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11804 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:741px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u11805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11805 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:858px;
  width:165px;
  height:29px;
}
#u11805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u11806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11806 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:798px;
  width:74px;
  height:57px;
  opacity:0.5;
}
#u11806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:70px;
  word-wrap:break-word;
}
#u11807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11807 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:921px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11808 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:1001px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11809 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:921px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11810 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1001px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11811 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1088px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11812 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:921px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11813 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:1001px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11814 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:1088px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11815 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:1165px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11816 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:1245px;
  width:128px;
  height:57px;
  opacity:0.5;
}
#u11816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:124px;
  word-wrap:break-word;
}
#u11817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11817 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:162px;
  width:128px;
  height:58px;
}
#u11817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11818 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:230px;
  width:128px;
  height:58px;
}
#u11818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11819 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:312px;
  width:128px;
  height:58px;
}
#u11819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11820 {
  border-width:0px;
  position:absolute;
  left:1589px;
  top:790px;
  width:128px;
  height:58px;
}
#u11820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11821 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:441px;
  width:128px;
  height:58px;
}
#u11821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11822 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:512px;
  width:128px;
  height:58px;
}
#u11822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11823 {
  border-width:0px;
  position:absolute;
  left:1939px;
  top:441px;
  width:128px;
  height:58px;
}
#u11823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11824 {
  border-width:0px;
  position:absolute;
  left:1939px;
  top:509px;
  width:128px;
  height:58px;
}
#u11824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11825 {
  border-width:0px;
  position:absolute;
  left:1939px;
  top:577px;
  width:128px;
  height:58px;
}
#u11825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u11826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11826 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:865px;
  width:128px;
  height:58px;
}
#u11826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
