body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:691px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:37px;
  width:1364px;
  height:691px;
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:617px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:110px;
  width:154px;
  height:617px;
}
#u3909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:74px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:37px;
  width:154px;
  height:74px;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:150px;
  word-wrap:break-word;
}
#u3911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:37px;
  width:1210px;
  height:74px;
}
#u3911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:111px;
  width:154px;
  height:57px;
}
#u3912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
#u3913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:168px;
  width:154px;
  height:57px;
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
#u3914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:282px;
  width:154px;
  height:57px;
}
#u3914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
#u3915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:396px;
  width:154px;
  height:57px;
}
#u3915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
#u3916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:339px;
  width:154px;
  height:57px;
}
#u3916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
#u3917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:60px;
  width:32px;
  height:29px;
}
#u3917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:111px;
  width:1210px;
  height:39px;
}
#u3918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:117px;
  width:92px;
  height:29px;
}
#u3919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u3920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:53px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:66px;
  width:13px;
  height:15px;
}
#u3921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:75px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:39px;
  width:1px;
  height:72px;
}
#u3923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:39px;
  width:1px;
  height:72px;
}
#u3924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:73px;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:42px;
  width:1px;
  height:72px;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:156px;
  width:92px;
  height:29px;
}
#u3926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u3927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:195px;
  width:94px;
  height:57px;
}
#u3927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  word-wrap:break-word;
}
#u3928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:195px;
  width:94px;
  height:57px;
}
#u3928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u3929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:195px;
  width:94px;
  height:57px;
}
#u3929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u3930_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1109px;
  height:6px;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:168px;
  width:1106px;
  height:3px;
}
#u3930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:29px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:60px;
  width:182px;
  height:29px;
  text-align:left;
}
#u3931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  word-wrap:break-word;
}
#u3932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:57px;
  background:inherit;
  background-color:rgba(51, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:225px;
  width:154px;
  height:57px;
}
#u3932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:150px;
  word-wrap:break-word;
}
