body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:156px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:156px;
  width:128px;
  height:58px;
}
#u1892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:124px;
  word-wrap:break-word;
}
#u1893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:156px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:255px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:255px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:156px;
  width:128px;
  height:58px;
}
#u1896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:185px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1897_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1897_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:185px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1898_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u1898_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:214px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1899_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1899_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:185px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1900_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1900_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:214px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1901_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1901_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:84px;
  width:165px;
  height:29px;
}
#u1902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u1903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:331px;
  width:165px;
  height:29px;
}
#u1903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u1904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:423px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:511px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:494px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:423px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:491px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:559px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:627px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:699px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:423px;
  width:279px;
  height:58px;
  opacity:0.5;
}
#u1912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:275px;
  word-wrap:break-word;
}
#u1913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:491px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:559px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:627px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:523px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1916_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u1916_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-197px;
  width:8px;
  height:201px;
}
#u1916_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-197px;
  width:83px;
  height:8px;
}
#u1916_seg3 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-210px;
  width:8px;
  height:21px;
}
#u1916_text {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-145px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:491px;
  width:128px;
  height:58px;
}
#u1917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:559px;
  width:128px;
  height:58px;
}
#u1918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:627px;
  width:128px;
  height:58px;
}
#u1919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:423px;
  width:128px;
  height:58px;
}
#u1920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:565px;
  width:128px;
  height:58px;
}
#u1921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:423px;
  width:128px;
  height:58px;
}
#u1922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:494px;
  width:128px;
  height:58px;
}
#u1923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:565px;
  width:128px;
  height:58px;
}
#u1924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:633px;
  width:128px;
  height:58px;
}
#u1925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:701px;
  width:128px;
  height:58px;
}
#u1926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:214px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1927_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u1927_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:28px;
}
#u1927_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:82px;
  height:8px;
}
#u1927_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:16px;
  width:8px;
  height:263px;
}
#u1927_seg4 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:271px;
  width:138px;
  height:8px;
}
#u1927_seg5 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:271px;
  width:8px;
  height:9px;
}
#u1927_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:695px;
  width:128px;
  height:58px;
  opacity:0.5;
}
#u1928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:124px;
  word-wrap:break-word;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:730px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1929_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:19px;
  height:8px;
}
#u1929_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-211px;
  width:8px;
  height:215px;
}
#u1929_seg2 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-211px;
  width:19px;
  height:8px;
}
#u1929_text {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:-112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:594px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1930_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1930_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-75px;
  width:8px;
  height:79px;
}
#u1930_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-75px;
  width:39px;
  height:8px;
}
#u1930_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:565px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1931_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-13px;
  width:8px;
  height:17px;
}
#u1931_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:662px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1932_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u1932_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-143px;
  width:8px;
  height:147px;
}
#u1932_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-143px;
  width:21px;
  height:8px;
}
#u1932_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-78px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
